<div class="rightbooking">
  <div class="contentbooking">
    <div class="total">
      <p class="totalcost mb-0">140.000 đ</p>
    </div>
    <div class="filmname">
      <p class="mb-0 font-weight-bold"><span class="ageType">C13</span>Spider-Man: Người Nhện Xa Nhà - Spider-Man: Far
        From Home </p>
      <div class="contentcinema">
        <div class="address">
          <span class="pcinema">BHD Star</span>
          <span class="cinemaname"> - Vincom 3/2</span>
        </div>
        <div class="hour">Hôm nay 04/07/2019 - 20:00 - RẠP 5</div>
      </div>
    </div>
    <div class="chair">
      <div class="row">
        <div class="col-md-8 chair_left d-flex">
          <p class="mb-0">Ghế:</p>
          <p class="pass_chair mb-0">C03</p>
        </div>
        <div class="col-md-4 chair_right">
          <p class="mb-0">145.000 đ</p>
        </div>
      </div>
    </div>
    <div class="email">
      <input type="text" class="form-control" placeholder="Email">
    </div>
    <div class="phone">
      <input type="text" class="form-control" placeholder="Phone">
    </div>
    <div class="bookingonline">
      <div class="form-check">
        <label class="form-check-label d-flex">
          <input type="radio" class="form-check-input" name="optradio">
          <img src="../../../assets/images/payNganLuong.jpg" alt="">
          <p class="mb-0">Thanh toán online</p>
        </label>
      </div>
    </div>
  </div>
  <div class="buyticket">
    Đặt vé
  </div>
</div>