<!-- HEADER MENU -->
<header>
  <nav class="navbar navbar-expand-sm navbar-dark">
      <div class="col-xs-4 col-md-6">
          <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
              data-target="#collapsibleNavId" aria-controls="false" aria-expanded="false"
              aria-label="Toggle navigation">
              <i class="fa fa-align-justify"></i>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                      <a class="nav-link" href="#">Lịch chiếu <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Cụm rạp</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Tin tức</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Ứng dụng</a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="col-xs-8 col-md-6">
          <div class="social">
              <div class="attr-nav">
                  <ul>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li class="LineFence"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                      <li>
                          <a>Đăng ký</a>
                      </li>
                      <li>
                          <a>Đăng nhập</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </nav>
</header>
<!-- END HEADER MENU -->

<!-- <nav class="navbar navbar-default bootsnav">
  <div class="container">  
      
      <div class="attr-nav">
          <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
      </div>        
  
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
              <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="#brand"><img src="LOGO_ADDRESS" class="logo" alt=""></a>
      </div>
      
      <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav navbar-center">
              <li><a href="#">Home</a></li>                    
              <li><a href="#">About Us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Contact Us</a></li>
          </ul>
      </div>
  </div>   
</nav> -->
<!-- End Content -->