<div class="choose-chair">
  <div class="col-md-12 choose-chair_top">
    <div class="row">
      <div class="col-md-6 d-flex left_title">
        <div class="logocinema">
          <img class="logo" src="../../../assets/images/rapBHD.png">
        </div>
        <div class="contentcinema">
          <p class="address m-0">
            <span class="pcinema" style="color:#8bc541">BHD Star</span>
            <span class="cinemaname">
              - Vincom 3/2</span>
          </p>
          <p class="hour m-0">Hôm nay - 20:00 - RẠP 5</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="righttitle">
          <p class="info1 m-0">thời gian giữ ghế</p>
          <p class="info2 m-0">
            <span class="minute">01</span>:<span class="second">52</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 choose-chair_bottom">
    <div class="room">
      <div class="screen text-center">
        <img src="../../../assets/images/screen.png" alt="">
      </div>
      <div class="list_chair">
        <app-item-chair></app-item-chair>
      </div>
    </div>
  </div>
  <div class="typeseats">
    <div class="row">
      <div class="col-md-12 text-center">
        <span class="typeseat">
          <span class="colorseat colornull"></span>
          <span class="nameseat">Ghế trống</span>
        </span>
        <span class="typeseat">
          <span class="colorseat colorchoosing"></span>
          <span class="nameseat">Đang chọn</span>
        </span>
        <span class="typeseat">
          <span class="colorseat colorchosen"></span>
          <span class="nameseat">Đã chọn</span>
        </span>
        <span class="typeseat">
          <span class="colorseat colornever"></span>
          <span class="nameseat">Không thể chọn</span>
        </span>
      </div>
    </div>
  </div>
</div>