<!-- HEADER CENDER -->
<div class="header-center">
  <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 header-logos sm-width">
          <div class="header-logo">
              <a href="">
                  <img src="./assets/images/logo6.png" alt="logo">
              </a>
          </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 header-search-area sm-width">
          <div class="header-search categorie-search-box">
              <form action="#">                     
                  <input class="form-control" type="text" placeholder="Enter Search">
                  <button><span class="fa fa-search"></span></button>
              </form>
          </div>
      </div>
  </div>
</div>
<!-- END HEADER CENDER -->
